# Global configurations
global:
  namespace: flask-mysql-redis-app
  host: app.sreevasmk.in
  certificate_arn: arn:aws:acm:ap-south-1:337909748081:certificate/e2f7cebe-713c-49cc-9cf4-79683a52256e
  vpc_cidr: 10.0.0.0/16

# Flask App Configuration
flask:
  # Basic settings
  name: flask-mysql-redis-app
  replicas: 3

  # Image settings
  image:
    repository: sreevasmk1993/employees-data-app
    tag: latest

  # Port
  containerPort: 3000

  # Health check paths
  probes:
    liveness:
      path: /status           # Health check endpoint
    readiness:
      path: /status           # Same endpoint

  # Resource limits
  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "100m"

  # Autoscaling
  autoscaling:
    minReplicas: 3
    maxReplicas: 5
    cpuTarget: 50
    memoryTarget: 70

  secrets:
    DB_HOST: eks-infra-mysql.cf68siug04ay.ap-south-1.rds.amazonaws.com
    REDIS_HOST: clustercfg.eks-infra-valkey.ni6vqg.aps1.cache.amazonaws.com
    remoteRef:
      key: rds!db-7d0bed7b-85a2-482d-83d3-ce45888fdc83

aws:
  region: ap-south-1

secrets:
  serviceAccountName: default

# Argocd
argocd:
  enabled: false  # Set to false if not using ArgoCD

monitoring:
  enabled: true
  namespace: monitoring
